<!-- <footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy;Muntasir Mahmud Saif</span>
    <div class=""></div>
  </div>

</footer> -->

<footer class="footer bg-dark text-center text-white py-3 mt-auto">
  <!-- Grid container -->
  <div class="container p-0 pb-0">
    <!-- Section: Social media -->
    <section class="mb-1">
      <!-- Facebook -->
      <a class="btn text-white btn-floating m-1" href="https://www.facebook.com/muntasir.m.saif/">
        <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-facebook_-512.png" alt="facebook" width="30" height>
</a>

      <!-- Google -->
      <a class="btn text-white btn-floating m-1" href="saifmahmud81@gmail.com">
        <img src="https://cdn-icons-png.flaticon.com/512/281/281769.png" alt="" width="30" height>
      </a>

      <!-- Linkedin -->
      <a class="btn text-white btn-floating m-1" href="https://www.linkedin.com/in/muntasir-mahmud-saif-9a0900233/">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="" width="30" height>
      </a>
      
      <a class="btn text-white btn-floating m-1" href="https://leetcode.com/mmSaif_64/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/LeetCode_logo_black.png" alt="" width="30" height>
      </a>

      <!-- Github -->
      <a class="btn text-white btn-floating m-1" href="https://github.com/Saif64">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" width="30" height>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-0 " style="background-color: rgba(0, 0, 0, 0.2);">
    © Muntasir Mahmud Saif
  </div>
  <!-- Copyright -->
</footer>
