<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">New Camp</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Okay Looks Good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Okay Looks Good</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">BDT</span>
          <input
            type="text"
            class="form-control"
            placeholder="Put your price
          for the camp"
            aria-label="price"
            aria-describedby="price-label"
            id="price"
            name="campground[price]"
            required
          />
          <div class="valid-feedback">Okay Looks Good</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">image</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          required
        />
        <div class="valid-feedback">Okay Looks Good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Camp Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        ></textarea>
        <div class="valid-feedback">Okay Looks Good</div>
      </div>
      <div class="d-grid grap-2 mb-3">
        <button class="btn btn-success">Add Camp</button>
      </div>
    </form>
  </div>
</div>

<script>
  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (e) => {
          if (!form.checkValidity()) {
            e.preventDefault();
            e.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
